<div class="background">
<div class="col-10 center offset-1">
  <table class="chess-board">
    <thead>
      <tr class="row">
        <th class="blank"></th>
        <% 8.times do %>
          <th></th>
        <% end %>
         </tr>
    </thead>
    <tbody>
      <% 8.times do |y| %>
        <tr class="row">
          <th></th>
          <% 8.times do |x| %>
            <td class="square" data-x="<%= x %>" data-y="<%= y %>">
              <% piece = @game.piece_for_position(x, y) %>
                <% if piece %>
                <%= image_tag(piece.image, class: 'piece', data: {id: piece.id}) %>
                
                <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $( function (){
    $(".piece").draggable();
    $(".square").droppable({
      drop: function(event, ui){
        console.log($(this).data());
        console.log(ui.draggable.data());
        var square = $(this)
        var id = ui.draggable.data().id;
        var x_pos = square.data().x;
        var y_pos = square.data().y;
        var piece = ui.draggable;
        $.ajax("/pieces/"+id,{
          data: {
            x:x_pos,
            y:y_pos,
          },
          type: "PUT"
        }).done(function(data){
            console.log(data);
            if(data.success){
              piece.detach().appendTo(square);
              console.log("Piece Moved");
            }
            piece.css("left", "");
            piece.css("top", "");
        }).fail(function(){

        });
      }
    });
  });
</script>
<br />
<br />
<div class="section">
<h1> This is the game page</h1>
<h5>These are the game details</h5>
<p>Game Name: <%= @game.name %></p>
<h5>These are the players</h5>
  <p>White player: <%= @game.white_player&.email %></p>
  <p>Black player: <%= @game.black_player&.email %></p>

  <%= simple_form_for @game, url: forfeit_game_path(@game) do |f| %>
    <% if current_user.id == @game.white_player_id %>
      <%= f.input :winner_user_id, as: :hidden, :input_html => { :value => @game.black_player&.id } %>
    <% else %>
      <%= f.input :winner_user_id, as: :hidden, :input_html => { :value => @game.white_player&.id } %>
    <% end %>
    <%= f.submit "Forfeit", class: "forfeit btn btn-danger btn-lg" %>
  <% end %>
</div>
</div>







