<div class="col-10 center offset-1">
  <table class="chess-board">
    <thead>
      <tr class="row">
        <th class="blank"></th>
        <% 8.times do %>
          <th></th>
        <% end %>
         </tr>
    </thead>
    <tbody>
      <% 8.times do |y| %>
        <tr class="row">
          <th></th>
          <% 8.times do |x| %>
            <td class="square" data-x="<%= x %>" data-y="<%= y %>">
              <% piece = @game.piece_for_position(x, y) %>
                <% if piece %>
                  <%= image_tag(piece.image) %>
                <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-14 center offset-1">
<h1> This is the game page</h1>
<h5>These are the game details</h5>
<p><%= @game.inspect %></p>
<h5>These are the players</h5>
  <p>White player: <%= @game.white_player.email %></p>
  <p>Black player: <%= @game.black_player.email %></p>

  <%= simple_form_for @game, url: forfeit_game_path(@game) do |f| %>
    <% if current_user.id == @game.white_player_id %>
      <%= f.input :winner_user_id, as: :hidden, :input_html => { :value => @game.black_player.id } %>
    <% else %>
      <%= f.input :winner_user_id, as: :hidden, :input_html => { :value => @game.white_player.id } %>
    <% end %>
    <%= f.submit "I FORFEIT!", class: "btn btn-primary col-4" %>
  <% end %>
</div>





